*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

footer, header{
    min-height: 10vh;
    background-color: rgb(255, 255, 255);
}

main{
    min-height: 80vh;
}

.div{
  background-image: url(/assets/img-manager/sky-clouds.gif);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.section_form{
  background-color: #0071e250;

}

/* header */
.container-div-header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-nav{
    width: 4rem;
    border-radius: 20px;
}

/* boton de logout */
.cssbuttons-io-button {
    background: #545b78;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #545b78;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
  }
  
  .cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #545b78;
    right: 0.3em;
    transition: all 0.3s;
  }
  
  .cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
  }
  
  .cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #545b78;
  }
  
  .cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
  }
  
  .cssbuttons-io-button:active .icon {
    transform: scale(0.95);
  }

  .button-nav{
    width: 6rem;
    height: 4rem;
    border-radius: 20px;
    background-color: beige;
  }
  /* inicio del main */
  /* formulario para agregar productos */
  .feed-form {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    width: 300px;
  }
  
  .feed-form input {
    height: 54px;
    border-radius: 5px;
    background: white;
    margin-bottom: 15px;
    border: none;
    padding: 0 20px;
    font-weight: 300;
    font-size: 14px;
    color: #4B4B4B;
  }
  
  .button_submit:hover, .feed-form input:hover {
    transform: scale(1.009);
    box-shadow: 0px 0px 3px 0px #212529;
  }
  
  .button_submit {
    width: 100%;
    height: 54px;
    font-size: 14px;
    color: white;
    background: red;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    text-transform: uppercase;
  }
  


  .inputBusqueda {
    height: 2.5rem;
    width: 30rem;
    border: 1px solid #957fca;
    background-color: #dbe1f6;
  }

  /* .div-filtros{
    background-color: rgba(255, 215, 159, 0.651);
  } */

  /* card-diseño */ 
  .card-title {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: var(--font-color);
  }
  
  .card-subtitle {
    font-size: 14px;
    font-weight: 400;
    color: var(--font-color-sub);
    margin: 1rem;
  }
  
  .card-divider {
    width: 100%;
    border: 1px solid var(--main-color);
    border-radius: 50px;
  }
  
  .card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 3rem;
  }
  
  .card-price {
    font-size: 20px;
    font-weight: 500;
    color: var(--font-color);
  }
  
  .card-price span {
    font-size: 20px;
    font-weight: 500;
    color: var(--font-color-sub);
  }
  
  .card-btn {
    height: 35px;
    background: var(--bg-color);
    border: 2px solid var(--main-color);
    border-radius: 5px;
    padding: 0 15px;
    transition: all 0.3s;
    font-size: 30px;
  }
  
  .card-btn svg {
    width: 100%;
    height: 100%;
    fill: var(--main-color);
    transition: all 0.3s;
  }
  
  .card-img:hover {
    transform: translateY(-3px);
  }
  
  .card-btn:hover {
    border: 2px solid var(--main-focus);
  }
  
  .card-btn:hover svg {
    fill: var(--main-focus);
  }
  
  .card-btn:active {
    transform: translateY(3px);
  }
  
  .img-card-1{
    width: 4rem;
  }

  .card-b {
    box-sizing: border-box;
    width: 260px;
    height: 500px;
    background: rgb(217, 217, 217);
    border: 1px solid white;
    box-shadow: 12px 17px 21px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    text-align: center;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
  }
  .img-card-2{
    object-fit: cover;
    width: 15.7rem;
    height: 11rem;
  }

  .card-b:hover {
    border: 0.2px solid rgb(206, 191, 191);
  }
  
  .desing{
    font-size: 20px;
  }

  .div-buttons{
    display: flex;
    gap: 1rem;
  }

  .button-delete {
    border: 2px solid #ae2509;
    background-color: #ae2509;
    border-radius: 0.9em;
    padding: 0.8em 1.2em 0.8em 1em;
    transition: all ease-in-out 0.2s;
    font-size: 16px;
   }
   
   .button-delete span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
   }
   
   .button-delete:hover {
    background-color: #6e0606;
   }

   .button-modificar {
    border: 2px solid #24b4fb;
    background-color: #24b4fb;
    border-radius: 0.9em;
    padding: 0.8em 1.2em 0.8em 1em;
    transition: all ease-in-out 0.2s;
    font-size: 16px;
   }
   
   .button-modificar span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
   }
   
   .button-modificar:hover {
    background-color: #0071e2;
   }

   .container-cards{
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
   }