<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../style/carrito.css">
    <title>Gozo | Carrito</title>
</head>

<body>
    <div id="app" class="layout">
        <div class="container-loader" id="container-loader">
            <img src="../images/logo.png" alt="" class="w-25">
            <div class="loader">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
        </div>
        <header>
            <nav id="navbar"
                class="navbar navbar-default navbar-light flex-grow fixed-top navbar-expand-lg nav-interno_home">
                <div class="container-fluid d-flex navContent navbar-expand-lg justify-content-between container">
                    <img src="../images/logo.png" alt="logo" class="logo-navbar w-25">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse ancors-navbar" id="navbarSupportedContent">
                        <ul class="navbar-nav mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="navbar-brand text-white" href="../../index.html" class="a-nav">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="navbar-brand text-white" href="/assets/pages/accesorios.html"
                                    class="a-nav">Accessorios</a>
                            </li>
                            <li class="nav-item">
                                <a class="navbar-brand text-white" href="./cultivo.html" class="a-nav">Cultivo</a>
                            </li>
                            <li class="nav-item">
                                <a class="navbar-brand text-white" href="./tabacos.html" class="a-nav">Tabacos</a>
                            </li>
                            <li class="nav-item">
                                <a class="navbar-brand text-white" href="./contacto.html" class="a-nav">Contacto</a>
                            </li>
                            <li v-show="cliente.email === 'admin-gozogrowshop@gmail.com'" class="nav-item">
                                <a class="navbar-brand text-white" href="./manager.html" class="a-nav">Manager</a>
                            </li>
                            <li class="nav-item">
                                <img src="../images/banderitaArg.png" alt="" class="emoji-arg">
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <main v-cloak>
            <div class="col-12 categoria-accesorios">
            </div>
            <div class="d-flex justify-content-center align-center m-5">
                <h1>Carrito <i class="bi bi-cart"></i></h1>
            </div>
            <div class="d-flex justify-content-around">
                <div class="col-9">
                    <div class="div-listas col-9 d-flex justify-content-center align-center"
                        v-if="this.seleccionadas.length > 0">
                        <div class="col-2">
                            <p></p>
                        </div>
                        <div class="col-2 d-flex justify-content-center align-center">
                            <p><b>Producto:</b></p>
                        </div>
                        <div class="col-2 d-flex justify-content-center align-center">
                            <p><b>Precio unitario:</b></p>
                        </div>
                        <div class="col-2 d-flex justify-content-center align-center">
                            <p><b>cantidad:</b></p>
                        </div>
                        <div class="col-3 d-flex justify-content-center align-center">
                            <p><b>precio final:</b></p>
                        </div>
                        <div class="col-1 d-flex justify-content-center align-center">
                            <p></p>
                        </div>
                    </div>
                    <div v-for="elemento of seleccionadas">
                        <div class="div-productos-seleccionados col-9 d-flex justify-content-center align-center m-1">
                            <div class="col-2 d-flex justify-content-end align-center">
                                <img class="img-seleccionada d-flex justify-content-end align-center"
                                    :src="elemento.imagen" alt="">
                            </div>
                            <div class="col-1 d-flex justify-content-center align-center flex-column">
                                <p><b>{{elemento.nombre}}</b></p>
                            </div>
                            <div class="col-2 d-flex justify-content-center align-center flex-column">
                                <p class="d-flex justify-content-center align-center"> ${{elemento.precio}}</p>
                            </div>
                            <div class="col-1 d-flex justify-content-center align-center flex-column">
                                <p class="d-flex justify-content-center align-center"></p>
                                <p class="d-flex justify-content-center align-center"> {{elemento.cantidad}}</p>
                            </div>
                            <div class="col-2 d-flex justify-content-center align-center flex-column">
                                <p class="d-flex justify-content-center align-center"></p>
                                <p class="d-flex justify-content-center align-center color-precio">${{elemento.cantidad
                                    * elemento.precio}}</p>
                            </div>
                            <div class="col-1 d-flex justify-content-center align-center flex-column">
                                <i :class="seleccionadas.some(e => e.id == elemento.id) ? 'bi bi-trash3 font' : 'bi bi-trash3'"
                                    role="button" @click="descartarProducto(elemento.id)" role="button"></i>
                            </div>
                        </div>
                    </div>
                </div>
                {{cantidad}}
                {{resultado}}
                <div class="div-carrito-totales d-flex justify-content-center align-center flex-column col-3"
                    v-if="this.seleccionadas.length > 0">
                    <div class="d-flex justify-content-around align-center font-p-tabla-pago">
                        <p class="font-p-tabla-pago">articulos:</p>
                        <p class="font-p-tabla-pago">{{totalProductos}}</p>
                    </div>
                    <div class="d-flex justify-content-around align-center font-p-tabla-pago">
                        <p class="font-p-tabla-pago">costo envio:</p>
                        <p class="font-p-tabla-pago">$15</p>
                    </div>
                    <div class="separador-total d-flex justify-content-around align-center">
                        <h5>Total:</h5>
                        <h5>${{totalCompra + 15}}</h5>
                    </div>
                    <!-- boton de mercado pago -->
                    <div class="mercadopago d-flex justify-content-around align-center m-4">
                        <!-- <button type="submit" @click="crearOrden" class="mercadopago-button" formmethod="post">Pagar</button> -->
                    </div>

                    <div>
                        <img class="img-relleno-carrito" src="/assets/images/envios-500x500-4.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center align-center my-3 h2-carrito"
                v-if="this.seleccionadas.length == 0">
                <h2>¡Aun no has seleccionado ningun producto!</h2>
            </div>
            <div v-if="seleccionadas == 0" class="d-flex justify-content-center align-center m-5">
                <img class="imagenes-carrito" src="/assets/img-manager/_23684b76-105d-4e88-9d6a-1d21e8d3d363.jpeg"
                    alt="" />
            </div>

            <div class="div-comprar-btn d-flex justify-content-center align-center m-5">
                <div class="m-2">
                    <button v-if="this.seleccionadas.length > 0" v-on:click="deleteCompras" class="button-borrar"
                        @click="redirectionPay()">
                        eliminar
                        <svg class="cartIcon-borrar" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                            viewBox="0 0 24 24">
                            <path
                                d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z">
                            </path>
                        </svg></span>
                    </button>
                </div>
                <div class="m-2">
                    <button @click="redirection()" class="button-comprar"><span>comprar</span><span><svg
                                class="cartIcon-comprar" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                fill="currentColor" class="bi bi-basket" viewBox="0 0 16 16">
                                <path
                                    d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z" />
                            </svg>
                    </button>
                </div>
            </div>
        </main>
        <footer class="col-12">

        </footer>
    </div>
    <script src="https://sdk.mercadopago.com/js/v2"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
        crossorigin="anonymous"></script>
    <script src="/assets/script/carrito.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>